body {
    margin: 0px;
    font-family: 'Muli', sans-serif;
    background-color: #1565c0;
}

.header {
    background-color: #003566;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__img {
    width: 200px;
    margin-top: 10px;
    margin-left: 10px;
}

.header__menu {
    margin-right: 60px;
}

.header__menu ul {
    display: none;
    list-style: none;
    padding: 0px;
    position: absolute;
    width: 100px;
    text-align: right;
    margin: 0px 0px 0px -14px;
}

.header__menu:hover ul,
ul:hover {
    display: block;
}

.header__menu li {
    margin: 10px 0px;
}

.header__menu li a {
    color: white;
    text-decoration: none;
}

.header__menu li a:hover {
    text-decoration: underline;
}

.header__menu--profile {
    margin-right: 8px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.header__menu--profile img {
    margin-right: 8px;
    width: 50px;
    margin-right: 8px;
}

.header__menu--profile p {
    margin: 0px;
    color: white;
}
.header__img {
    width: 100px;
    height: 80px;
    padding: 10px;
    margin: 10px 10px 10px 10px;
    background-color: cadetblue;
}
.header__menu {
    margin-right: 60px;

}

.header__menu ul {
    display: none;
    list-style: none;
    padding: 0;
    position: absolute;
    width: 100px;
    text-align: right;
    margin: 0px 0px 0px -14px;
}

.header__menu:hover ul,
ul:hover {
    display: block;
}

.header__menu--profile {
    margin-right: 35px;
    width: 40px;
    display: flex;

}
.main {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    flex-direction: column;
    align-items: center;

}
.main__title{
    color: cornsilk;
    font-size: 25px;
}
input {
    background-color: rgba(255, 255, 255, 0.2);
    border: 2px solid darkblue;
    border-radius: 25px;
    color: white;
    font-family: 'Muli',sans-serif;
    font-size: 16px;
    height: 40px;
    padding: 0px 20px;
    width: 70%;
}
::placeholder {
    color: white;
}
.carusel {
    width: 100%;
    overflow: scroll;
    padding: 30px;
    position: relative;

}

.corusel__container {
    white-space: nowrap;
    margin: 70px 0px;
    padding-bottom: 10px;
}

.carusel-item {
    background-color: rgba(150, 165, 212, 0.596);
    width: 200px;
    height: 250px;
    border-radius: 20px;
    overflow: hidden;
    margin-right: 10px;
    display: inline-block;
    cursor: pointer;
    transition: 450ms all;
    transform-origin: center left;
    position: relative;
}

.carusel-item:hover~.carusel-item {
    transform: translate3d(100px, 0, 0);

}

.corusel__container:hover .carusel-item {
    opacity: 0.3;
}

.corusel__container:hover .carusel-item:hover {
    transform: scale(1.5);
    opacity: 1;
}

.carusel-item__img {
    width: 200px;
    height: 250px;
    object-fit: cover;
}

.carusel-item__details {
    background-color: linear-gradient(to top, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0) 100%);
    font-size: 10px;
    opacity: 0;
    transition: 450ms opacity;
    padding: 10px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: flex-end;
    color: white;
}

.carusel-item__details:hover {
    opacity: 1;
}

.carousel-item__details--icon {
    width: 30px;
    height: 30px;
}
.carousel-item__details--title, .carousel-item__details--subtitle  {
color: #ffffff;
margin: 2px 0px;
}
.categories__title {
    color: white;
    font-size: 16px;
    position: absolute;
    padding-left: 30px;
    width: 100%;
}
.footer {
    display: flex;
    align-items: center;
    height: 100px;
    width: 100%;
    background: #0077b6;
}
.footer a{
   color: white;
   cursor: pointer;
   font-size: 14px;
   padding-left: 30px;
   text-decoration: none;
}.footer a:hover{
    text-decoration: underline;
}

.error__container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    min-height: calc(100vh - 200px);
}
.error__container--tittle{
    width: 100%;
    height: 300px;
    float: left;
    overflow: hidden;
}
.text-bounce {
    text-align: center;
    margin-top: 56px;
    color: #fff;
    font-size: 10.0em;
    text-transform: uppercase;
}
.animated {
    animation-duration: 2.5s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
}
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
    40% {transform: translateY(-30px);}
    60% {transform: translateY(-15px);}
}
.bounce {
    animation-name: bounce;
}
.error__container p{
    margin-top: -60px;
}